/*Properties applicable to whole File */

:root{
    --heading: "Roboto Slab", serif; 
    --subheading: "Montserrat", sans-serif;
}



/* START */

body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Newsreader", serif;
}

.main{
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul{
    list-style: none;
}

/*END*/





/*Properties for NAV Bar*/

/* START */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.303);
    border-right: none;
}

nav a{
    text-decoration: 0;
    color: black;
    /* border: 2px solid rgba(0, 0, 0, 0.833); */
    padding: 8px;
    border-radius: 10px;
    opacity: 0.75;
}



nav .logo img{
    margin-left: 4rem;
    height: 2.8rem;
    width: 20rem;
    margin-top: -0.75rem;

}

nav .navopt ul{
    font-size: 14px;
    margin: 0.75rem;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1.25rem;
    height: 3rem;
    align-items: center;
    justify-content: flex-end;;
}

nav .navopt a:hover{
    /* background-color: rgb(20, 50, 221); */
    box-shadow: 0 0 3px rgb(0, 0, 0);
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    opacity: 1;

}


.job-btn {
    font-family:var(--subheading);
    margin: 0 4rem 0 1rem;
    padding: 6px 16px;
    border-radius: 16px;
    background-color: black;
    color: rgba(255, 255, 255, 0.964);
    cursor:pointer;
    font-weight: 800;
    font-size: 18px;
}

.job-btn:hover{
    padding: 8px 18px;
    background-color: white;
    color: black;
    transition:  0.5s ease-in-out;
}



/* END */
/*Properties for HOME Page*/

/* START */

.homepage{
    height:116vh;
    width: 100%;
    background-image: url("./assets/mainback.JPG");
    background-size: 100% 100%;
    margin-top: -12rem;
    background-size:cover;
    color: black;
    /* flex: 1; */
}







/* END */


/*Properties for HOMEintro Page*/

/* START */
.mainintro{
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    width: 100%;
    margin-bottom: 2rem;
    background-color: rgba(239, 241, 245, 0.945);
    justify-content: center;
    align-content:center ;

}

.textintro{
    line-height: 6rem;
    font-size: 20px;
    text-align: start;
    color: black;
}

.textintro .headingtextintro{
    font-family: var(--heading) ;
    text-align: center;
    margin-bottom: 0.75rem;
}
.textintro .descintro{
    font-weight: 600;
    line-height: 1.75rem;
    width: 64rem;
    height: 40vh;
    font-size: 16.5px;
    opacity: 0.85;
    text-align: justify;
    font-family:var(--subheading)
}

.desctext{
    margin-top: 1rem;
}
/* END */

.servicesmain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
}

.service-heading{
    font-family: var(--heading);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    
}

.service-block{
    margin-bottom: 4rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    gap: 6rem;
    justify-content: center;
    align-content: space-between;
}

.service-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    /* padding: 2rem; */

}

.card2,.card4{
    flex-direction: row-reverse;
}

   .section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
  }
  
  .section.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  

.servicecardimg{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 25rem;
}

.servicecardimg img{
    border-radius: 1.5rem;
}

.servicecardinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

}

.servicecardheading{
    font-family: var(--heading) ;
    text-align: center;
    margin: 1.2rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.servicecardpara{
    font-family:var(--subheading);
    font-size: 12px;
    opacity: 0.85;
    text-align: justify;
    margin: 2rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    line-height: 1.25rem;
    font-weight: 600;
    color: rgba(118, 117, 115, 1);
}

.card2{
    flex-direction: row-reverse;
}


.testimonialsmain{
    flex: 1;
    margin-bottom: 4rem;
    height:100vh;
    width: 100%;
    background-color: rgba(229, 237, 248, 1);
}
.clientsmain{
    flex: 1;
    margin-bottom: 4rem;
    height:100vh;
    width: 100%;
    background-color: rgba(229, 237, 248, 1);
}
.implink{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.implink-heading{
    font-family: var(--heading) ;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.implink-images{
    height: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.implink-images span{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 282px;
    height: 255px;
    border-radius: 24px;
    gap: 1rem;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.444) ;
}


span .dgca{
    width: 240.47px;
    height: 61.21px;
}
span .mca{
    width: 273.06px;
    height: 80.83px;
}

span .bcas{
    width: 232.65px;
    height: 148.54px;
}

span .aai{
    width: 229.37px;
    height: 171.48px;
}

span .faa{
    width: 160.62px;
    height: 160.62px;
}

span .iata{
    width: 180px;
    height: 180px;
}

span .aci{
    width: 161px;
    height: 201px;
}

span .icao{
    width: 177px;
    height: 147px;    
}


.contactmain{
    width: 100%;
    gap: 2rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.contactheading{
    width: 90%;
    font-family: var(--heading) ;
    text-align: center;
    margin: 1.2rem 1rem 0 1rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border-top: 2px solid white;
    padding-top: 3rem;
}


.contactdetails{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 3rem 0 3rem;
    padding-bottom: 5rem;
    border-bottom: 0.75px solid white;
}

.contactinfo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
}

.contactinfo-heading{
    font-family: var(--heading) ;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.contactinfo-detail{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.04em;
}


.contactaddress{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}

.contactaddress-heading{
    font-family: var(--heading) ;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.contactaddress-content{
    width: 48%;
    font-family:var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align:center;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.socials-heading{
    font-family: var(--heading) ;
    text-align: center;
    font-size: 1rem;
    gap: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.socialh{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family:var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socialtag{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.tm{
    font-size: 0.7rem;
    font-weight: 400;
    font-family: var(--subheading);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 3rem;
    width: 100%;
    text-align: center;
}
